* {box-sizing: border-box; font-family: 'Pretendard-Black';}

html,body {
    margin:0; 
    font-size: 16px;
}

h1,h2,h3,p {margin:0;}

ul,li {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}

img {vertical-align: top;}

a {
    text-decoration: none;
    color: inherit; /* 부모의 값을 그대로 상속받겠다는 뜻 */
}

a, b, i, em, strong, span {display: inline-block;} 

figure{margin: 0;}


@font-face {
    font-family: 'Pretendard-Black';
    src: url("./Pretendard-Black.woff");
}
@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url("./Pretendard-ExtraBold.woff");
}
@font-face {
    font-family: 'Pretendard-Medium';
    src: url("./Pretendard-Medium.woff");
}
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url("./Pretendard-SemiBold.woff");
}